# Ignore virtual environment
venv/

# Ignore cache & compiled files
__pycache__/
*.pyc
*.pyo

# Ignore logs
logs/
*.log

# Ignore system files (Mac/Windows)
.DS_Store
Thumbs.db

# Ignore environment variables
.env